/aula_5_variaveis/Variaveis/target/
/aula_5_variaveis/Dados/target/
/aula_5_variaveis/Soma/target/
/aula_6_tipos_primitivos/VariaveisInteiras/target/
/aula_6_tipos_primitivos/VariaveisPontoFlutuante/target/
/aula_6_tipos_primitivos/VariaveisChar/target/
/aula_6_tipos_primitivos/VariaveisBoolean/target/
/aula_6_tipos_primitivos/AtividadeDadosPessoais/target/
